div ::deep .adjust-this-line-chart .mud-chart-legend {
	height: 8px !important;
	margin-bottom: -10px;
}

div ::deep .adjust-this-line-chart .mud-chart-legend-item {
	position: relative !important;
	bottom: 26px !important;
}

div ::deep .adjust-this-line-chart .mud-chart-legend-marker {
	padding-left: 10px !important;
	position: relative !important;
	top: 2px !important;
	right: 2px !important;
}
