div ::deep .adjust-this-line-chart .mud-chart-legend {
	height: 8px;
	margin-bottom: -10px;
}

div ::deep .adjust-this-line-chart .mud-chart-legend-item {
	position: relative;
	bottom: 26px;
}

div ::deep .adjust-this-line-chart .mud-chart-legend-marker {
	padding-left: 10px;
	position: relative;
	top: 2px;
	right: 2px;
}
